<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamzfc.androidbase">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="common.CommonApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IndexActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".test.event.TestEventActivity"/>
        <activity android:name=".test.drawable.TestDrawableActivity"/>
        <activity android:name=".test.slide.TestSlideActivity"/>
        <activity android:name=".test.labelview.TestLabelViewActivity"/>
        <activity android:name=".test.magicfloat.TestMagicFloatViewActivity"/>
        <activity android:name=".test.camera.TestCameraActivity"/>
        <activity android:name=".test.fragment.TestFragmentActivity"/>
        <activity android:name=".test.fragment.TestFragmentActivity$DetailsActivity"/>
        <service android:name=".test.socket.SocketService"
            android:exported="false"
            />
        <activity android:name=".test.rxjava2.TestRxjava2Activity"/>
        <activity android:name=".test.itemdrag.TestItemDragActivity"/>
        <activity android:name=".test.sqlite.TestDbActivity"/>
        <activity android:name=".test.customerview.TestCustomerViewActivity"/>
        <activity android:name=".test.customerview.TestCustomerViewActivity2"/>
        <activity android:name=".test.wifip2p.TestWifiP2PActivity"/>
    </application>

</manifest>